<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayush.digitalmenu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu.MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".StartingLogin.Starting_LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CodeGeneratingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ItemsPrice.ItemsPriceActivity" />
        <activity android:name=".ItemDetail.ItemDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyCart.MyCartActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".EmptyCartActivity" />
        <activity android:name=".Checkout.CheckoutActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MyOrder.MyOrderActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".EmptyOrderActivity" />
        <activity android:name=".AboutUs" />
        <activity
            android:name=".Feedback"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HelpingActivity" />
        <activity android:name=".No_Internet" />

        <service android:name=".OurService" />

        <receiver android:name=".OurReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity android:name=".NotificationAlaram">


        </activity>
    </application>

</manifest>